/*=============================================
=                   COLORS                    =
=============================================*/

$brand: rgba(33, 117, 155, 1);
$brand-alt: rgba(45, 112, 143, 1);

$white: rgba(254, 254, 254, 1);
$bg: rgba(246,247, 250, 1);
$black: rgba(0, 0, 0, .84);